<div style="background-color:#099;border:5px solid #fff;height:500px;float:left;margin-left:30px;">
	<div style="width:850px;height:500px;padding-left:30px;border:1px solid #ccc">
		<h2> Inbox </h2>
		<!-- (<%#= @countInboxConvUnread %>  unread conversations)  -->
		<%= form_tag displayinbox_conversation_path do %>
				<%#= hidden_field_tag(:filter_param,'read') %>	
				<%= submit_tag "Read",:name => 'read_button' %>
		<%# end %>
		<%#= form_tag displayinbox_conversation_path do %>
				<%#= hidden_field_tag(:filter_param,'unread') %>	
				<%= submit_tag "Unread",:name => 'unread_button' %><br/>
		<% end %>
		<%#= link_to 'Read', displayinbox_conversation_path,
		:method => :post, :params => {:lehh => 'read'} %>
		<%= render 'displayConversations' %>
		<%#= will_paginate @convFinal %>
	</div>
</div