<div style="background-color:#099;border:5px solid #fff;height:460px;float:left;margin-left:40px;width:500px;">
<h1 align="center">
	Welcome to Mailbox </h1>
	<div align="center">Follow the links to Compose a message, read your inbox, Check your sent items and your trash.</div><hr>
</div>