<div class="divstyle">
<h1 align="center">
	Welcome to Mailbox </h1>
	<div align="center">Follow the links to Compose a message, read your inbox, Check your sent items and your trash.</div><hr>
</div>